@import url(./__photo/about-author__photo.css);
@import url(./__info-continer/about__info-continer.css);
@import url(./__paragraph/about-author__paragraph.css);
@import url(../subtitle/subtitle.css);

.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 670px) {
  .about-author {
    flex-direction: column;
  }
}
